.App {
  text-align: center;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.m-vertical-center {
  margin:0px auto
}
.mt-10 {
  margin-top:10px;
}
.mb-10 {
  margin-bottom:10px;
}
.mr-10 {
  margin-right: 10px;
}
.pt-5 {
  padding-top: 5px;
}
.pl-5 {
  padding-left: 5px;  
}
.pr-5 {
  padding-right: 5px;  
}
.pb-5 {
  padding-bottom: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.default-btn {
  width: 165px;
  height: 28px;
  border: 0px;
}
.primary-color {
  background-color: #1890ff;
  color:#fff;
}
.danger {
  background-color: red;
  color:#fff;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
